nav{
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
    background: linear-gradient(to right, #ff4b2b, #ff416c);
}
.over:hover{
    scale: 1.1;
    cursor: pointer;
}
.colred{
    background-color: rgb(255, 0, 0)
}