.grad {
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
}
.over:hover{
  scale: 1.1;
  cursor: pointer;
}
.suca{
  background-color: #ff4b2b;
}
.form-check-input{
  background-color: black;
  border-color:black
}